.hk-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  // &--user-hospital {
  //   background-image: url("/assets/icons/linear-hospital-user.svg");
  // }
  // &--hospital {
  //   background-image: url("./../../src/assets/icons/linear-hospital-alt.svg");
  // }
  // &--id-card {
  //   background-image: url("./../../src/assets/icons/linear-id-card.svg");
  // }
  // &--map-marker {
  //   background-image: url("./../../src/assets/icons/linear-map-marker-alt.svg");
  // }
  // &--copy {
  //   background-image: url("./../../src/assets/icons/linear-copy.svg");
  // }
  // &--languages {
  //   background-image: url("./../../src/assets/icons/linear-languages.svg");
  // }
  // &--sms {
  //   background-image: url("./../../src/assets/icons/sms.svg");
  // }
  // &--wellness {
  //   background-image: url("./../../src/assets/icons/wellness.svg");
  // }
  // &--plus {
  //   background-image: url("./../../src/assets/icons/plus.svg");
  // }
  // &--search {
  //   background-image: url("./../../src/assets/icons/search.svg");
  // }
}