// navbar debating if this can just live in appshelllayout
.navbar-brand {
	font-family: $font-heading;
}

.hk-logo--round {
  width: 25px;
  height: 25px;
  background-size: cover;
}

.hk_logo {
	height: 32px;
	width: 189px;
	background-size: contain !important;
	background: url("../assets/icons/logo.svg") center no-repeat;
}