$mobile:           360px;
$mobile-lg:        412px;
$tablet:           768px;
$tabet-lg:         810px;
$laptop:           1024px;
$laptop-lg:        1366px;
$desktop:          1920px;
$desktop-lg:       2560px;