/*    Color updates must be changed in both index.css and custom.scss                    */
/*    Both of these files are needed and other solutions require excessive refactoring.  */
/*    This file modifies bootstrap variables             																 */
// New Colors
$primary2: 					    #9b1c62;
$secondary1: 				    #3863ff;
$secondary2:        		#132259;
$secondary3:      			#fbe812;
$secondary4: 			      #4b6dff;
$alert-red:					    #f8d7d7;
$alert-red-border:			#df3838;
$alert-yellow:			  	#fff0d6;
$alert-yellow-border:		#ffb734;
$alert-blue:				    #CCF0FB;
$alert-blue-border:			#00B8EC;
$alert-green:				    #CDEDE5;
$alert-green-border:		#06A77D;
$alert-text:				     	$secondary2;
$box-shadow-color:      #eff6ff;


$pale-blue:					    #f7faff;  // app background
$fedora:						    #665d69;
$gray-lightest-new:			#f3f5f7;
$gray-dark-new:			   	#2d353f; // covid link

// Color
$salmon:                    #d02683;
$peachy-pink:               #ff8c7c;
$pink-light:                #ffe8e8;
$teal-medium: 							#8ebebb;
$teal-light:                #dcebea;
$dusty-lavender:            #a596a6;
$slate:                     #485867;
$blue-light: 								#DFECFF;
$blue-lighter:			      	#3863ff;
$bluey-gray:                #9aaab9;
$bluey-gray-light:          #F1F4F7;
$blue-lightest:             #F9FCFF;
$blue-inactive:				      #edf3fc;
$yellow-light:              #fdf2db;
$yellow-lighter:            #fff0d6;
$sand:                      #f2c66d;
$apricot:                   #f3a471;
$green:                     #3fa49e;
$green-dk:                  #497e68;
$green-light:               #d4f2f1;
$navy-dk:                   #4e6980;
$danger:                    #ff4136;			
// 50 shades of gray
$dusty-white:               #F8FBFF;
$gray-lightest:             #eeeeee;
$gray-lighter:			    		#f3f5f7;
$gray-light:                #b3b3b3;
$gray-medium:               #7e7f7e;
$gray-medium-light: 				#5d6369;
$gray-medium-dark:          #676767;
$gray-dark:                 #525252;
$gray-dark-alt:             #5c5c5c;
$gray-darkest:              #342737;
$cool-gray-11:              #9aaab83a;
$placeholder-gray:          #bbbbbb;
$bright-gray:               #ededed;
$main-grey:                 #cdcdcd;
$gray-form-new:			    		#5d6369;
$gray-text:                 #adadad;
$box-gray:                  #d8d8d8;
$white:                     #fff;
$black-light:               #272f37;
$black:                     #000;
$royal-blue:				        #3863ff;
$popout-overlay-background: rgba(12, 32, 56, 0.7);

// Status's
$success:                     $green;
$error:                       $salmon;


// Variants
$theme-colors: (
	"primary": 												$salmon,
	"secondary": 											$teal-medium,
	"danger": 												$danger,
	"tooltip": 												$green-dk,
	"soft": 													$peachy-pink,
	"dark": 													$navy-dk,
	"light-pink": 										$peachy-pink,
	"body-font": 											$gray-dark,
	"body-second":										$gray-medium,
	"body-light":											$gray-light,
	"green-label": 										$teal-medium,
	"lavender": 											$dusty-lavender,
	"grey": 												rgb(145, 145, 145),
	"teal-light":											$teal-light,
	"dusty": 													$dusty-white,
	"blue-gray":											$bluey-gray,
	"blue-gray-light":								$bluey-gray-light,
	"white":													$white,
	"black":													$black
);

$bv-enable-popover-variants: 				true;
$fa-font-path: 											"../assets/fonts/font-awesome/";
$btn-border-width: 									2px;
$nav-pills-border-radius: 					0;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-padding-x: 					0;

// Font styles
$font-size-base: 										1.125rem !default; // = 18px
$font-size-lg:                			$font-size-base * 1.25 !default;
$font-size-sm:                			$font-size-base * .875 !default;
$font-weight-lighter:         			200 !default;
$font-weight-light:           			300 !default;
$font-weight-normal:          			500 !default;
$font-weight-bold:            			600 !default;
$font-weight-bolder:          			700 !default;

$body-color: 												$gray-dark;

$font-primary: 							'Open Sans', sans-serif !default;
$font-heading: 							'Raleway', sans-serif !default;

// Carousel
$carousel-control-color:             $salmon !default;
$carousel-control-width:             24px !default;
$carousel-indicator-width:           8px !default;
$carousel-indicator-height:          8px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-active-bg:       $salmon !default;
$carousel-caption-width:             85% !default;
$carousel-control-icon-width:        25px !default;
$carousel-control-prev-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 25 24'%3e%3cpath d='M18.454.24l.379.378c.25.251.25.658 0 .91L8.36 12l10.473 10.473c.25.25.25.658 0 .91l-.379.378c-.251.25-.658.25-.91 0L6.24 12.455c-.251-.251-.251-.659 0-.91L17.545.24c.25-.25.658-.25.909 0z'/%3e%3c/svg%3e"), "#", "%23") !default;
$carousel-control-next-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 25 24'%3e%3cpath d='M5.617.24L5.24.617c-.251.251-.251.658 0 .91L15.71 12 5.24 22.473c-.251.25-.251.658 0 .91l.378.378c.251.25.658.25.91 0l11.306-11.306c.25-.251.25-.659 0-.91L6.527.24c-.252-.25-.659-.25-.91 0z'/%3e%3c/svg%3e"), "#", "%23") !default;

// Shadows
$box-shadow: 												0 2px 7px 0 rgba(0, 0, 0, .35) ;
$box-shadow-sm: 										0 3px 6px 1px rgba(0, 0, 0, 0.22);
$box-shadow-lg:                     0 4px 12px rgba($black, 0.15);
$box-shadow-new:         						0 6px 10px 0 $box-shadow-color;

//  Forms  //
$input-font-size:										16px !default;
$input-bg:													$white !default;
$input-disabled-bg:									$white !default;

$input-color:                       $gray-dark !default;
$input-border-color:                $gray-dark !default;
$input-placeholder-color:           $placeholder-gray !default;

$custom-select-color:               $input-color !default;
$custom-select-disabled-color:      $input-color !default;
$custom-select-bg:                  $white !default;
$custom-select-disabled-bg:         $white !default;
$custom-select-bg-size:             12px 12px !default; // In pixels because image dimensions
$custom-select-indicator-color:     $input-color !default;
$custom-select-indicator:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' transform='rotate(-90)' viewBox='0 0 25 25'%3e%3cpath d='M18.454.24l.379.378c.25.251.25.658 0 .91L8.36 12l10.473 10.473c.25.25.25.658 0 .91l-.379.378c-.251.25-.658.25-.91 0L6.24 12.455c-.251-.251-.251-.659 0-.91L17.545.24c.25-.25.658-.25.909 0z'/%3e%3c/svg%3e"), "#", "%23") !default;
$custom-select-border-color:        $input-border-color !default;

// Spacing
$spacing-xxs: 											4px !default;
$spacing_xs: 												8px !default;
$spacing_s: 												16px !default;
$spacing_m: 												24px !default;
$spacing_l: 												32px !default;
$spacing_xl: 												64px !default;

// Pagination  //
$pagination-disabled-color:         $gray-light !default;

// Modals //
$modal-content-border-radius:       8px !default;

// Toast  //
$toast-max-width:                   450px !default;
$toast-padding-x:                   1rem !default;
$toast-padding-y:                   .5rem !default;
$toast-font-size:                   $font-size-base !default;

// Extra global variables DO NOT MOVE OR CHANGE
$search-input-height: 				    50px;
$rounded: 												4px;
$rounded-md: 											8px;
$rounded-lg: 											16px;

// Animations 
$transition-time: 								.2s !default;




